a {
  text-decoration: none;
  color: #069;
}

a:visited {
  color: #036;
}

body {
  font-family: Verdana, Helvetica, arial, freesans, clean, sans-serif;
  font-size: 10pt;

  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 12pt;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 16pt;
}

h4 {
  font-size: 14pt;
}

h5 {
  font-size: 12pt;
}

p, ul {
  margin: 1.286em 0;
}

dl {
  margin: 0;
}

pre {
  font-family: monospace;
  font-size: 10pt;
  margin-bottom: 1.5em;
  overflow-x: auto;
}

strong {
  color: #000;
}

/* Pretty Tables */

.table table {
  font-size: 10pt;
  border: 1px solid #036;
  padding: 0;
  border-collapse: collapse;
}

.table tr {
  border: 0;
  padding: 0;
}

.table tr:nth-child(even) {
  background-color: #EEE;
}

.table th {
  padding: 5px;
  background: #036;
  color: white;
  text-align: center;
  font-weight: bold;
}

.table td {
  border: 1px solid #CCC;
  padding: 5px;
}

h2.subtitle {
  font-variant: normal;
}

h3.author {
  font-variant: normal;
  margin-top: 2em;
  margin-bottom: 0;
}

.email {
}

.informalfigure {
  text-align: center;
}

.mediaobject {
  display: inline-block;
}

code {
  font-size: 90%;
}

div.variablelist dd p {
  margin: 0;
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: 1em;
}

span.term {
  font-weight:bold;
  padding-left:3px;
  padding-right:3px;
}

.caption p {
 margin: 0;
 text-align: right;
}

.navfooter table tr td {
 width: 33.33%;
}

pre.programlisting {
   font-family: monospace;
   background-color: #EEE;
   padding: 1.5em;
   border:solid 1px #CCC;
}

pre.screen {
  white-space: pre;
  width: 100%;
  background-color: #EEE;
  border:solid 1px #CCC;
  color: black;
  padding: 15pt;
}

div.variablelist {
  padding-left: 20px;
}

.programlisting {
  color: black;
  font-weight: normal;
}

.programlisting .hl-tag {
  color: #881280;
  font-weight: normal;
}

.programlisting .hl-string {
  color: green;
  font-weight: bold;
}

.programlisting .hl-keyword {
  color: #009;
  font-weight: bold;
}

.programlisting .hl-attribute {
  color: #fc390e;
}

.programlisting .hl-value {
  color: #009;
}

.programlisting .hl-annotation {
  color: #880;
}

.programlisting .hl-comment {
  color: gray;
  font-style: italic;
}

.caution, .important, .note, .tip, .warning {
    border: 2px solid #ddd;
    padding: 10px;
    padding-left: 2.0em;
    background-color: #eee;
    margin: 10px;
}

.caution h3, .warning h3 {
    color: red;
}

.important h3 {
    color: blue;
}

.note h3 {
    color: black;
}

.tip h3 {
    color: green;
}

.caution h3, .important h3, .note h3, .tip h3, .warning h3 {
    margin-left: -1.0em;
    margin-top: 0;
    margin-bottom: 0.1em;
}

.jetty-callout {
  background-color: #DEF;
  text-align: left; 
  font-size: 8pt;
  border: thin dotted blue; 
  padding: 4px; 
}

.jetty-callout h5 {
  font-size: 8pt;
  margin: 0;
  margin-bottom: 5px;
}

.jetty-callout .callout {
  font-weight: bold;
  font-style: normal;
}

.jetty-callout a {
  text-decoration: none;
}

.jetty-callout .website {
  color: #f3a;
}

.jetty-callout p {
  font-style: oblique;
  margin: 0;
}

