a {
  text-decoration: none;
  color: #069;
}

a:visited {
  color: #036;
}

body {
  font-family: serif;
  font-size: 12pt;

  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-variant: small-caps;
  margin-bottom: 12pt;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 16pt;
}

h4 {
  font-size: 14pt;
}

h5 {
  font-size: 12pt;
}

p, ul {
  margin: 1.286em 0;
}

dl {
  margin: 0;
}

pre {
  font-family: Courier New, monospace;
  font-size: 10pt;
  margin-bottom: 1.5em;
  overflow-x: auto;
}

strong {
  color: #000;
}

table {
  border: 1px solid #036;
  padding: 0;
  border-collapse: collapse;
}
tr {
  border: 0;
  padding: 0;
}
tr:nth-child(even) {
  background-color: #EEE;
}
th {
  padding: 5px;
  background: #036;
  color: white;
  text-align: center;
  font-weight: bold;
}
td {
  border: 1px solid #CCC;
  padding: 5px;
}

h2.subtitle {
  font-variant: normal;
}

h3.author {
  font-variant: normal;
  margin-top: 2em;
  margin-bottom: 0;
}

.email {
}

.informalfigure {
  text-align: center;
}

.mediaobject {
  display: inline-block;
}

code {
  font-size: 90%;
}

div.variablelist dd p {
  margin: 0;
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: 1em;
}

span.term {
  font-weight:bold;
  padding-left:3px;
  padding-right:3px;
}

.caption p {
 margin: 0;
 text-align: right;
}

.navfooter table tr td {
 width: 33.33%;
}

pre.programlisting {
   font-family: monospace;
   background-color: #EEE;
   padding-left: 1.5em;
   padding-right: 1.5em;
   border:solid 1px #CCC;
}

pre.screen {
  white-space: pre;
  width: 100%;
  background-color: #EEE;
  border:solid 1px #CCC;
  color: black;
  padding: 15pt;
}

div.variablelist {
  padding-left: 20px;
}

.programlisting {
  color: black;
  font-weight: normal;
}

.programlisting .hl-tag {
  color: #881280;
  font-weight: normal;
}

.programlisting .hl-string {
  color: green;
  font-weight: bold;
}

.programlisting .hl-keyword {
  color: #009;
  font-weight: bold;
}

.programlisting .hl-attribute {
  color: #fc390e;
}

.programlisting .hl-value {
  color: #009;
}

.programlisting .hl-annotation {
  color: #880;
}

.programlisting .hl-comment {
  color: gray;
  font-style: italic;
}

.caution, .important, .note, .tip, .warning {
    border: 2px solid #069;
    padding: 0 20px;
}
